
.contcontainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4f514f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #8b8e8b;
}