

   
.portfolio { 
    padding: 20px;
}

.portfolio-item {
    width: 100%; 
    margin-bottom: 30px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}


.portfolio-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.portfolio-image {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
}


.description-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.description-btn:hover {
    background-color: #555;
}

.description {
    display: none;
    margin-top: 10px;
    font-size: 16px;
}

.portfolio-empty-container {
    width: calc(25% - 20px); 
    height: 300px; 
    background-color: #ddd; 
    margin-bottom: 20px; 
    display: inline-block; 
    box-sizing: border-box;
    border-radius: 10px;
}