 
.portfolio { 
    padding: 20px;
}

.portfolio-item {
    width: 100%; 
    margin-bottom: 30px; 
    background-color: #f0f0f0; 
    border: 2px solid #6b64f5; 
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}


.portfolio-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    
}

.portfolio-image {
    width: 100%;
    border: 1px solid #5424ff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.portfolio-image:hover {
    transform: scale(1.07); 
}

.description-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #6b64f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-family: 'Roboto';
}

.description-btn:hover {
    background-color: #79a3ff;
    transform: scale(1.1);
}

.description {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Roboto';
}

.portfolio-empty-container {
    width: calc(25% - 20px); 
    height: 300px; 
    background-color: #ddd; 
    margin-bottom: 20px; 
    margin-top: 30px; 
    display: inline-block; 
    box-sizing: border-box;
    border-radius: 10px;
    
}

@keyframes custom-slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

[data-aos="custom-slide-up"] {
    animation: custom-slide-up 1.5s ease-out forwards;
}
